.app-nav {
  min-width: 20vw;
  padding: 0 30px 30px 0;
  min-height: calc(100vh - 70px);
  background-color: #5b605f;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 10px;
    transition: 0.4s;

    &:hover {
      transform: translateX(20px);
    }

    &.active {
      border-left: 5px #ff6600 solid;
      transform: translateX(0);
      position: relative;
    }
  }

  i {
    display: none;
  }

  i.active {
    color: #ff6600;
    display: block;
  }
}
